@import '../../../variables.css';
.card{
    box-shadow: 6px 6px 25px 1px var(--inset-shadow), -3px -3px 25px 3px var(--shadow);
    border-radius: 31px;
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 500ms;
    cursor: pointer;
    &:hover{
        box-shadow: 0px 0px 17px 20px rgba(255, 85, 116, 0.25);
    }
    &__image{
        border-top-left-radius: 29px;
        border-top-right-radius: 29px;
    }
    &__wrapper{
        padding: 20px 30px;
        max-width: 400px;
        margin-top: auto;
    }
    &__rating{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 22px;
        &_value{
            color: #a9b0b8;
            padding: 8px 18px;
            border: 3px solid #c5cdd6;
            box-shadow: inset -2px -2px 2px rgba(65, 96, 42, 0.25), inset 3px 3px 3px rgba(0, 0, 0, 0.25);
            border-radius: 31px;
        }
        &_green{
            color: white;
            background: #8CCB5A;
            border: 3px solid #7FBA51;
        }
        &_yellow{
            color: white;
            background: #E5A500;
            border: 3px solid #c28b01;
        }
        &_red{
            color: white;
            background: #EE0000;
            border: 3px solid #c50101;
        }
    }
    &__genres{
        display: flex;
        padding: 0 30px 30px 30px;
        justify-content: space-between;
        &_list{
            font-size: 22px;
            width: 240px;
            padding-bottom: 25px;
            &::-webkit-scrollbar {
                width: 0;
                &-thumb {
                    background-color: #6175a03b;
                    border-radius: 20px;
                }
            }
        }
    }
    &__description{
        margin-bottom: 30px;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            width: 0.3em;
            &-thumb{
                background-color: #6175a03b;
                border-radius: 20px;
            }     
        }
    }
}
.rotate{
    position: relative;
    .front{
        transform: perspective(500px) rotateY(0deg);
        backface-visibility: hidden;
    }
    .back{
        transform: perspective(500px) rotateY(180deg);
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        color: #E6EEF8;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &__content{
            padding: 25px;
            position: relative;
            z-index: 1;
            &_wrapper{
                display: flex;
                flex-direction: column;
                max-height: 610px;
            }
        }
        &::after{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.75);
            border-radius: 30px;
        }
        &__like{
            margin: 0 30px 30px auto;
            border-radius: 50%;
            background-color: var(--background-color);
            position: relative;
            z-index: 1;
            button{
                box-shadow: none;
            }
        }
    }
    .r_front{
        transform: perspective(500px) rotateY(-180deg);
    }
    .r_back{
        transform: perspective(500px) rotateY(0deg);
    }
}
@media screen and (max-width: 1800px) {
    .card{
        width: 400px;
        &__wrapper{
            max-width: 400px;
        }
    }
}