*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    background: none;
    box-sizing: border-box;
}
*::selection{
    background-color: #ec4f5496;
    text-shadow: 5px 5px 10px #ac9494;
    color: white;
}
a:active,
a:hover,  
a {
  text-decoration: none;
  color: #666;
  height: fit-content;
}
body::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }
body::-webkit-scrollbar-thumb {
    background-color: #6175a03b;
    border-radius: 20px;
  }
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
body{
    background-color: #E6EEF8;
}
#circle{
    width: 50px;
    height: 50px;
    background: #090;
    border-radius: 50%;
    position: absolute;
}